{
  "parser": "@typescript-eslint/parser",
  "settings": {
    "react": {
      "version": "detect" // detect react version
    }
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12
  },
  "env": {
    "node": true // defines things like process.env when generating through node
  },
  "extends": [
    "eslint:recommended", // use recommended configs
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react-hooks/recommended"
  ],
  "plugins": [
    "plugin:@typescript-eslint/recommended",
    "react-hooks",
    "@typescript-eslint",
    "plugin:react/recommended"
  ],
  "rules": {
    "prefer-const": "warn",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "error",
    "react/prop-types": "off"
  }
}
