@font-face {
  font-family: "HCo Operator Mono";
  src: url("../../assets/fonts/operator/OperatorMono-Book_Web.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "HCo Operator Mono";
  src: url("../../assets/fonts/operator/OperatorMono-BookItalic_Web.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "HCo Operator Mono";
  src: url("../../assets/fonts/operator/OperatorMono-Bold_Web.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "HCo Operator Mono";
  src: url("../../assets/fonts/operator/OperatorMono-BoldItalic_Web.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "radnika";
  src: url("../../assets/fonts/RadnikaNext/RadnikaNext-Black.woff2") format("woff2");
  font-weight: 400;
}
